/* MAIN STYLES */

h1 {
  font-family: 'Press Start 2P', monospace;

}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

h4 {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin-bottom: 0;
}

p {
  font-family: 'Roboto Mono', monospace;
}

ul {
  font-family: 'Roboto Mono', monospace;
  padding-inline-start: 20px;
}

li.active {
  font-style: oblique;
  font-weight: 900;
}


a {
  font-family: 'Roboto Mono', monospace;
  color: #FA6D6D;
}

a:hover {
  color: #0086a0;
}

body {
  background-color: #fff9e5;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #FA6D6D 0px, transparent 1px),
    linear-gradient(to bottom, #FA6D6D 0px, transparent 1px);
}

.sideba {
    position: relative;
}


img.sideba {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.25rem;
  position: absolute;
  left: 1.25rem;
  bottom: 1.25rem;
}

.container-fluid {
    margin: 70px 0px 0px 0px;
    padding: 0px;

}

.row {
  margin: 0px 0px 0px 0px;
}

/*CARD STYLES*/
.card-header {
  background-color: transparent;
  border-bottom-color: #FA6D6D;
}

.card {
  margin: 25px;
}

.comic-card {
  margin: 2rem;
  border-color: #FA6D6D;
  background-color: #fff9e5;
}

.card-info {
  border-color: #FA6D6D;
  background-color: #fff9e5;
  margin: 0;
}

.card-text {
    padding: 1rem;
}

.card-body {
  padding: .50rem;
}

.card-info.card-title {
    color: #FA6D6D;
}

.navbar
{
    border: 1px solid #FA6D6D;
    border-style: double;
    background-color: #fff9e5;
}

.navbar-dark .navbar-brand {
  color: #000;
}

.sidebar {
    border-right: 1px solid #FA6D6D;
    background-color: #fff9e5;
}

body.social {
  text-align: center;
}
